# Ignore all dot files.
# Explicitly name important dot files that we particularly want to
# ignore, just for documentation purposes.
.*
.google-api
.ssh

# Explicitly list those dot files that we wish to include
!.gitignore
!.php
!.bashrc
!.bash_profile
!.bash_common
!.drush

# Other files to ignore
currentstate.westkingdom.org.yaml
server.westkingdom.org.yaml
.drush/cache/
logs
Maildir
tools/drush/vendor
tools/hierarchical-email-cli/vendor
